<!--新規のページの作成方法-->
  <!--homes_controller.rbにdef about endのアクション作成-->
  <!--views＞homes＞右クリックでアクション名と同じ.html.erbを作成-->
  　<!--ついでにGETメゾットをroutes.rbに追加しておく-->
  　  <!--必要に応じて名前付きルートを設定-->
  　  
<!--サインイン後の遷移先に設定-->
  <!--NEXT Go_to app/controllers/application_controller.rb-->
<h1><strong>Aboutページ</strong></h1>